.centered {
    text-align: center;
}

#math-container {
    display: inline-block;
    text-align: left;
}

.bigfont {
    font-size: 175%;
}

.clickable {
    cursor: pointer;
}

.answer {
    display: inline-block;
    min-width: 5em;
    border: 1px solid grey;
    padding: 3px;
}

.answer-box {
    display: inline-block;
    min-width: 5em;
    border: 1px solid grey;
    padding: 3px;
}

#check-mark {
    visibility: hidden;
}

.big-button-font {
    font-size: 125%;
}

.hidden {
    display: none;
}

#next-button {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

#small-screen {
    width: 95%;
}

.countdown-container {
    float: right;
    display: block;
    font-size: 125%;
}

.up-triangle {
    position: fixed;
    height: 0px;
    width: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 15px solid black;
}

.bounce {
    -webkit-animation: bounce-frames 2s infinite;
    animation: bounce-frames 1s infinite;
}

@-webkit-keyframes bounce-frames {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
  }
}
@-moz-keyframes bounce-frames {
  0%, 100% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(20px);
  }
}
@keyframes bounce-frames {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
}