#thought-bubble-container {
    display: inline-block;
    background-image: url("/static/img/thoughtbubble/wide-thought-bubble-1680.jpeg");
    background-size: 840px 560px;
}

.hello-world {
    color: #007284;
//    font-family: Comic Sans MS;
//    font-family: 'Roboto', sans-serif;
    font-family: 'Old Standard TT', serif;
    font-size: 60px;
    text-shadow: 1px 1px 0 #00434e, 2px 1px 0 #00272b;
    margin-top: 10px;
    letter-spacing: 2px;
}

.homepage-body {

}