#title {
    font-family: 'VT323', monospace;
}

#level-select-title {
    font-family: 'VT323', monospace;
}

#title h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 60px;
}

#level-select-title h2 {
    color: midnightblue;
    font-size: 40px;
}

#feedback {
    font-family: 'VT323', monospace;
}

#feedback p {
    font-size: 40px;
    color: midnightblue;
    margin: 20px;
}

.game-title-background {
    background-image: url("/static/img/arithmetic/game-title-screen.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 80%;
}

.level-select-background {
    background-image: url("/static/img/arithmetic/level-select-screen.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 80%;
}

.level-button:disabled {
    background-color: #e4e4e4;
    cursor: not-allowed;
}

.centered {
    text-align: center;
}

#math-container {
    display: inline-block;
    text-align: left;
}

.bigfont {
    font-size: 175%;
}

.clickable {
    cursor: pointer;
}

.answer {
    display: inline-block;
    min-width: 5em;
    border: 1px solid grey;
    padding: 3px;
}

.answer-box {
    display: inline-block;
    min-width: 5em;
    border: 1px solid grey;
    padding: 3px;
}

#check-mark {
    visibility: hidden;
}

.big-button-font {
    font-size: 125%;
}

.hidden {
    display: none;
}

#next-button {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

#small-screen {
    width: 95%;
}

.tally-container {
    float: left;
    display: block;
    font-size: 125%;
    margin-left: 20px;
}

.countdown-container {
    float: right;
    display: block;
    font-size: 125%;
}

.up-triangle {
    position: fixed;
    height: 0px;
    width: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 15px solid black;
}

.bounce {
    -webkit-animation: bounce-frames 2s infinite;
    animation: bounce-frames 1s infinite;
}

@-webkit-keyframes bounce-frames {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
  }
}
@-moz-keyframes bounce-frames {
  0%, 100% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(20px);
  }
}
@keyframes bounce-frames {
  0%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
}

#game-container {
    clear: both;
    padding-top: 10px;
}

#walkthrough {
    margin-top: 10px;
}

.level-button {
    margin: 10px;
}

.completed-level {
    background: gold;
    cursor: pointer;
}

.newly-completed-level {
    background: gold;
    cursor: pointer;
    -webkit-animation: newly-completed-frames 1s;
    animation: newly-completed-frames 1s;
}

.available-level {
    background: lightskyblue;
    cursor: pointer;
    -webkit-animation: available-frames 2s infinite;
    animation: available-frames 2s infinite;
}

@-webkit-keyframes available-frames {
  0%, 100% {
      background: aliceblue;
  }
  50% {
      background: lightskyblue;
  }
}
@-moz-keyframes available-frames {
  0%, 100% {
      background: aliceblue;
  }
  50% {
      background: lightskyblue;
  }
}
@keyframes available-frames {
  0%, 100% {
      background: aliceblue;
  }
  50% {
      background: lightskyblue;
  }
}

@-webkit-keyframes newly-completed-frames {
  0%{
      background: lightskyblue;
  }
  100% {
      background: gold;
  }
}

@-moz-keyframes newly-completed-frames {
  0% {
      background: lightskyblue;
  }
  100% {
      background: gold;
  }
}
@keyframes newly-completed-frames {
  0% {
      background: lightskyblue;
  }
  100% {
      background: gold;
  }
}