<!DOCTYPE html>
<html>
  <head>
    <title>Terry Ford's Website</title>
    <link rel="stylesheet" href="static/thoughtbubble/thoughtbubble.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT">
  </head>
  <body class="homepage-body">
    <h1 class="hello-world">Hello! I'm Terry.</h1>
    <div id="thought-bubble-container" title="Here are some things I'm thinking about">
      
    </div>
    <script type="text/javascript" src="static/thoughtbubble/bundle.js"></script>
  </body>
</html>
