<!DOCTYPE html>
<html>
  <head>
    <title>Terry Ford's Website</title>
    <meta name="description" content="Online Portfolio for Terrance Thomas Ford. Contains a photo and links to projects.">  
    <link rel="stylesheet" href="static/thoughtbubble/thoughtbubble.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT">
  </head>
  <body class="homepage-body">
    <h1 class="hello-world">Hello! I'm Terry.</h1>
    <div id="thought-bubble-container" title="Here are some things I'm thinking about">
      
    </div>
    <script type="text/javascript" src="static/thoughtbubble/bundle.js?version=1"></script>
    <div class="links">
      <a href="/arithmetic">Arithmetic</a>
      <a href="https://www.google.com/patents/US20120189991">Patent</a>
      <a href="/static/downloads/resonant-drum.pdf">Thesis</a>
      <a href="https://www.npmjs.com/package/jinac">NPM</a>
      <a href="https://github.com/tbonelaforge/lambda">Lambda</a>
      <a href="https://www.youtube.com/watch?v=CIJ404XS_ro&list=PLvdKmKn1O1yboC7iuCPmwgzFSoixHHTMC">Drumming</a>
      <a href="https://github.com/tbonelaforge/terryford">Website</a>
    </div>
  </body>
</html>
