<!DOCTYPE html>
<html>
  <head>
    <title>Testing Installing click handlers to operators</title>
    <link rel="stylesheet" href="static/mathquill.css"></link>
    <link rel="stylesheet" href="static/arithmetic.css"></link>
    <link rel="stylesheet" href="static/vendor/jquery.alerts.css"></link>
  </head>
  <body>
    <p id="clicktest" class="bigfont">

    </p>
    <button id="next-button" class="bigfont hidden" tabindex="3">
      Next
    </button>
    <script type="text/javascript" src="static/vendor/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="static/model/node.js"></script>
    <script type="text/javascript" src="static/model/nodescanner.js"></script>
    <script type="text/javascript" src="static/model/generatenewexpression.js"></script>
    <script type="text/javascript" src="static/view/numbereditor.js"></script>
    <script type="text/javascript" src="static/view/staticdigit.js"></script>
    <script type="text/javascript" src="static/view/staticoperator.js"></script>
    <script type="text/javascript" src="static/view/renderview.js"></script>
    <script type="text/javascript" src="static/clicktest.js"></script>
    <script type="text/javascript" src="static/vendor/jquery.alerts.js"></script>
  </body>
</html>
